html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}

/* #content .map {  */
    /* fill: blue; */
    /* stroke: cyan; */
    /* stroke-width: 0.5; */
    /* background-color: #333; */
/* } */

#content {
    background-color: cyan;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}